body{
	margin: 0;
	padding: 0;
}

.box{
	width: 300px;
	height: 200px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 20px auto;
}

.img{
	background-image: url('jezioro.jpg');
	background-position: center;
	background-size: cover;
	height: 180px;
	width: 280px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: -1;
}

.box p{
	color: #fff;
	font-size: 30px;
	transition: 2s;
	background-color: #000;
	opacity: 0.6;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	top: 50%;
	transform: translateY(-50%) scale(0);
}

.box:hover p{
	transform: translateY(-50%) scale(1);
}

.box:before,
.box:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 0;
	border-left: 5px solid black;
	border-right: 5px solid black;
	opacity: 0;
	transition: 2s;
	box-sizing: border-box;
}

.box:before{
	border-top: 5px solid black;
}

.box:after{
	border-bottom: 5px solid black;
	bottom: 0;
}

.box:hover:before,
.box:hover:after{
	height: 50%;
	opacity: 1;
}